*{
    margin: :0px;
    padding: 0px;
}
body{
    background-image: url("arkaplan.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#arkaplan{
    width: 1200px;
    height: auto;
    background-color:bisque;
    margin-left: auto;
    margin-right: auto;
}
#ust{
    float: left;
    width: 80%; 
    height: 15%;
    background-color:#EC407A;
    margin-left: 10%;
    font-family:fantasy;
    margin-right: auto;
    text-align: center;
    color:#212121;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.3cm;
    text-decoration: none;
    font-size: 31px;
    font-variant: small-caps;
}
#sol{
    float: left;
    position: static;
    background-color:#9E9E9E;
    height:460px;
    width:20%;
    padding: 25px;
    text-decoration: underline;
    text-decoration-color: black;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 7px;
    padding-top: 40px;
    padding-left: 50px;
}
#menu{
    float: left;
}

a{
    display: block;
    width: 110px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 2px;
    
}  

#sag{
    float:left;
    position: static;
    width: 570px;
    height:480px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 40px;
    padding-left: 5%;
    background-image: url("SAL.2.png");
    background-repeat: no-repeat;
    background-size: cover;
    border:2px solid darkgray;
}
h3{
    font-family:sans-serif;
}
div.transbox{
    align-content: center;
    width: 400px;
    height: 380px;
    opacity:0.6;
    filter:alpha(opacity=60);
    position:static;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color:#ffffff;
    border:1px solid black;
}
div.transbox p {
     margin:50px 60px;
     padding:inherit;
     font-weight:bold;
     color:#000000;
     text-indent: 0.5cm;
}
div.transbox h3{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color:brown;
}
.clear{
    clear: both;
}
#alt{
    float: left;
    width: 80%;
    height: 90px;
    margin-left: 10%;
    margin-right: auto;
    text-align:left;
    padding-top: 8px;
}
#instagram{
    float: left;
    width: 200px;
    height: 60px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 50px;
}
#facebook{
    float: left;
    width: 200px;
    height: 60px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    margin-right: 50px;
}
#youtube{
    float: left;
    width: 200px;
    height: 60px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
}
#twitter{
    float: left;
    width: 200px;
    height: 60px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
}
